<ng-container *ngIf="loadingEmployee">
  <fa-icon [icon]="faSpinner" animation="spin"></fa-icon>
  Cargando empleado...
</ng-container>
<ng-container *ngIf="!loadingEmployee">
  <ng-container *ngIf="!employeeNotFound">
    <h3>{{employeeFound.fullName}}</h3>
    <hr/>
    <div class="row">
      <div class="col-12 col-lg-6">
        <h4>Nombre completo</h4>
        <p>{{employeeFound.fullName}}</p>
      </div>
      <div class="col-12 col-lg-6">
        <h4>Nombre de usuario</h4>
        <p>{{employeeFound.username}}</p>
      </div>
      <div class="col-12 col-lg-6">
        <h4>Email:</h4>
        <p>{{employeeFound.email}}</p>
      </div>
    </div>

  </ng-container>
  <ng-container *ngIf="employeeNotFound">
    <h3>No se encontró el empleado con este ID</h3>
    <p>No se encontró el empleado con el ID {{employeeId}}</p>
  </ng-container>
</ng-container>

<button type="button" class="btn btn-danger" (click)="goBackToEmployeesList()">
  <fa-icon [icon]="faArrowLeft"></fa-icon> Volver a la página anterior
</button>
