<section class="form-edit-category">
  <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Editar categoría
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()">
      </button>
    </div>
    <div class="modal-body">
      <div class="from-group">
        <label for="categoryName">Nombre de la categoría</label>
        <input type="text" class="form-control" id="categoryName"
               name="categoryName" formControlName="categoryName"
               [ngClass]="{'border-danger':!editCategoryForm.controls['categoryName'].untouched && editCategoryForm.controls['categoryName'].errors?.['required']}"/>
        <ng-container *ngIf="!editCategoryForm.controls['categoryName'].untouched && editCategoryForm.controls['categoryName'].invalid">
          <ng-container *ngIf="editCategoryForm.controls['categoryName'].errors?.['required']">
            <small class="text-danger">Se requiere este campo</small>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="editCategoryForm.invalid">
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="faTags"></fa-icon>
          <fa-icon [icon]="faPencil" class="text-body" transform="shrink-4 down-6 right-6"></fa-icon>
        </fa-layers>
        Editar categoría
      </button>
      <button type="button" class="btn btn-danger" (click)="dismissModal()">
        <fa-icon [icon]="faTimes"></fa-icon> Cancelar
      </button>
    </div>
  </form>
</section>

