<div class="row">
  <div class="col-12 col-lg-6">
    <a class="border-danger" routerLink="/employees-list">
      <div class="employees-list d-flex justify-content-center align-items-center">
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="faUserTie"></fa-icon>
          <fa-icon [icon]="faList" class="text-body" transform="shrink-4 down-6 right-6"></fa-icon>
        </fa-layers>
        <span class="ms-2">Empleados</span>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg-6">
    <a class="border-danger" routerLink="/categories-list">
      <div class="categories-list d-flex justify-content-center align-items-center">
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="faTags"></fa-icon>
          <fa-icon [icon]="faList" class="text-body" transform="shrink-4 down-6 right-6"></fa-icon>
        </fa-layers>
        <span class="ms-2">Categorías</span>
      </div>
    </a>
  </div>
</div>
