<section class="categories-list">
  <header>
    <h2 class="mb-2">
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="faUserTie"></fa-icon>
        <fa-icon [icon]="faList" class="text-body" transform="shrink-4 down-6 right-6"></fa-icon>
      </fa-layers>
      Categorías
    </h2>
  </header>
  <section class="categories-list-body">
    <section class="new-category-controls">
      <button class="btn btn-primary mb-3" (click)="openNewCategoryModal()">
        <fa-layers [fixedWidth]="true">
          <fa-icon [icon]="faTags"></fa-icon>
          <fa-icon [icon]="faAdd" class="text-body" transform="shrink-4 down-6 right-6"></fa-icon>
        </fa-layers>
        Añadir nueva categoría
      </button>
    </section>
    <section class="pagination-pages">
      <div class="row">
        <div class="text-end offset-lg-9 col-lg-3">
          <p>Page <strong>{{pageNumber}}</strong></p>
        </div>
      </div>
    </section>
    <section class="new-category-table">
      <ng-container *ngIf="loadingCategories">
        <p>
          <fa-icon [icon]="faSpinner" animation="spin"></fa-icon>
          Cargando categorías...
        </p>
      </ng-container>
      <ng-container *ngIf="!loadingCategories">
        <ng-container *ngIf="categories.length == 0">
          <p>No hay categorías disponibles</p>
        </ng-container>
        <ng-container *ngIf="categories.length > 0">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>ID</th>
                <th>Nombre de la categoría</th>
                <th>Acciones sobre la categoría</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let category of categories | paginate: {itemsPerPage: 10, currentPage: pageNumber}">
                <td>{{category.id}}</td>
                <td>{{category.name}}</td>
                <td class="text-center">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-sm btn-outline-secondary"
                            ngbTooltip="Editar categoría" (click)="openEditCategoryModal(category)">
                      <fa-icon [icon]="faPencil" [fixedWidth]="true"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-danger"
                            ngbTooltip="Eliminar categoría"
                            (click)="openConfirmDeleteCategoryModal(category.id, confirmDeleteCategoryModal)">
                      <fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <div class="text-center">
              <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </section>
  </section>

  <ng-template let-modal #confirmDeleteCategoryModal>
    <section class="confirm-delete-category-modal">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          ¿Confirma eliminar la categoría?
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('')">
        </button>
      </div>
      <div class="modal-body">
        <p>Esta acción es <strong>irreversible</strong>. ¿Está seguro que desea continuar?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="modal.close('')">
          <fa-icon [icon]="faCheck"></fa-icon> Si
        </button>
        <button class="btn btn-danger" (click)="modal.dismiss('')">
          <fa-icon [icon]="faTimes"></fa-icon> No
        </button>
      </div>
    </section>
  </ng-template>
</section>

