<section class="form-new-user">
  <form (ngSubmit)="saveUpdatedEmployee()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Editar empleado
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()">
      </button>
    </div>
    <div class="modal-body">
      <p>Form Edit User</p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success">
        <fa-icon [icon]="faCheck"></fa-icon> Si
      </button>
      <button type="button" class="btn btn-danger" (click)="dismissModal()">
        <fa-icon [icon]="faTimes"></fa-icon> No
      </button>
    </div>
  </form>
</section>
